body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Droid Serif', 'Donegal One', serif;
    font-weight: 200;
    background-image: url('bgnoise_lg.png')
}

div.hfeed {
   position:relative;
}

div.content {
    margin: 20px 50px;
}

.content > hr {
    margin: 30px 0;
}

div.container-narrow {
    margin: 0 auto;
    width: 850px;
    height: 1100px;
    position:relative;
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.150);

    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);

    text-align: justify;
}

div.container-narrow:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);

   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}

div.container-narrow:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);

   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
}

a{
    color: #000000;
}